.bronze,
.gold,
.silver {
	position: relative
}

.bronze::before,
.gold::before,
.silver::before {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px
}

.container {
	width: 90%;
	margin: auto;
	padding-top: 0
}

.tools-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px 0
}

.tool-card {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
	overflow: hidden;
	transition: .3s ease-in-out;
	text-rendering: optimizeLegibility
}

.tool-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.tool-card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	transition: transform .3s
}

.tool-card:hover img {
	transform: scale(1.05)
}

.tool-card .content {
	padding: 20px;
	background-color: #f8f8f8;
	border-top: 2px solid #eee
}

.tool-card h3 {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
	font-weight: 700
}

.tool-card p {
	font-size: 16px;
	color: #666;
	line-height: 1.5;
	margin-bottom: 15px;
	text-align: justify
}

.tool-card a {
	text-decoration: none;
	color: #fff;
	background-color: #007bff;
	padding: 12px 20px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	transition: .3s
}

.tool-card a:hover {
	background-color: #0056b3;
	transform: translateY(-5px)
}

.rating {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 5px;
	margin-bottom: 5px
}

.star {
	font-size: 22px;
	cursor: pointer;
	transition: transform .3s, color .3s;
	color: gray
}

.star:hover {
	transform: scale(1.3);
	color: gold
}

.star.selected {
	color: gold
}

.average-rating {
	font-size: 14px;
	margin-left: 10px;
	color: #333
}

.gold {
	border: 3px solid gold
}

.gold::before {
	content: "🥇"
}

.silver {
	border: 3px solid silver
}

.silver::before {
	content: "🥈"
}

.bronze {
	border: 3px solid #cd7f32
}

.bronze::before {
	content: "🥉"
}

@media (max-width:768px) {
	.header h1 {
		font-size: 28px
	}

	.header p,
	.tool-card a {
		font-size: 16px
	}

	.tool-card h3 {
		font-size: 20px
	}

	.tool-card p {
		font-size: 14px
	}
}

@media (max-width:480px) {
	.header h1 {
		font-size: 24px
	}

	.header p,
	.tool-card a {
		font-size: 14px
	}

	.tool-card {
		padding: 10px
	}

	.tool-card h3 {
		font-size: 18px
	}

	.tool-card p {
		font-size: 12px
	}
}
